<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<title>Личный кабинет</title> -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header class="header">
        <div class="container">
            <h1>Личный кабинет сотрудника</h1>
            <nav class="navbar">
                <a href="{{ url_for('dashboard') }}">Профиль</a>
                <a href="{{ url_for('duty') }}">Мои задачи</a>
                <a href="{{ url_for('sal') }}">Зарплата</a>
                <a href="{{ url_for('meetups') }}">Календарь</a>
                <a href="{{ url_for('logout') }}">Выйти</a>
            </nav>
        </div>
    </header>

    <style>
        @font-face {
            font-family: "MOSCOW 2024";
            src: url("{{ url_for('static', filename='fonts/MOSCOW2024.otf') }}") format('opentype');
        }
    </style>    

    <main class="container">
        <!-- Главная страница профиля -->
        <section class="user-info">
            <h2>Обо мне</h2>
            <p><strong>Имя:</strong> </p>
            <p><strong>Должность:</strong> Финансовый аналитик</p>
            <p><strong>Email:</strong> ivan.ivanov@financecorp.com</p>
            <p><strong>Отдел:</strong> Инвестиционный анализ</p>
            <p><strong>Дата начала работы:</strong> 01.01.2020</p>
        </section>
    </main>

    <footer class="footer">
        <div class="container">
            <p>&copy; 2024 GDK Inc. All rights reserved</p>
        </div>
    </footer>
</body>
</html>