<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Войти</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{ url_for('intro') }}">Главная</a></li>
                <li><a href="{{ url_for('login') }}">Войти</a></li>
                <li><a href="{{ url_for('about_us') }}">О нас</a></li>
                <li><a href="{{ url_for('contact') }}">Контакты</a></li>
            </ul>
        </nav>
    </header>

    <style>
        @font-face {
            font-family: "MOSCOW 2024";
            src: url("{{ url_for('static', filename='fonts/MOSCOW2024.otf') }}") format('opentype');
        }
    </style>

    <main>
        <h1 !important>Войти</h1>
        <form method="post">
            <label for="username" !important>Логин:</label>
            <input type="text" id="username" name="username" required>
            <label for="password" !important>Пароль:</label>
            <input type="password" id="password" name="password" required>
            <button type="submit"  !important>Войти</button>
        </form>
    </main>
    <footer>
        <p>&copy; 2024 GDK Inc. All rights reserved</p>
    </footer>
</body>
</html>
